
<div class="row">
  <table class="table">
  <%if  @my_contacts.blank?%>
  <div class="alert alert-warning">
    <strong>No record found</strong>
  </div>
  <%end%>

  <%=render @my_contacts%>
  </table>
</div>
<div class="text-center">
  <nav>
   <%= paginate @my_contacts%>
  </nav>
</div>
