<!-- navbar -->
    <%= render 'layouts/navbar' %>
   <!-- content -->
   <div class="container">
     <div class="row">
        <%= render 'layouts/sidebar' %>
       <div class="col-md-9">
         <div class="panel panel-default">
            <%= yield %>
         </div>
         <div class="text-center">
           <nav>
            <%= paginate @my_contacts%>
           </nav>
         </div>
       </div>
     </div>
   </div>
